{% extends "/admin/base.html.twig" %}

{% block body %}
    <!-- Our Custom CSS -->

   <div class="row">
        <div class="col-3">
            {% include "/admin/articles/header.html.twig" %}
        </div>
        <div class="col">
            <h1 class="title">Funcionarios para contato</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in values %}
                        <tr>
                            <th scope="row">{{ value.name }}</th>
                            <td>{{  value.phone }}</td>
                            <td>{{ value.resposibily }}</td>
                            <td><img src="\uploads\home\{{ value.photos }}" alt="{{value.title}}"></td>                        </tr>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% include "/admin/articles/footer.html.twig" %}

{% endblock %}

